# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- Share your Jupyter Notebook publicly on GitHub
- Demonstrate proficiency in Data Science toolkit knowledge
- Evaluate notebooks submitted by your peers using the provided rubric

## Author
Craig Hoyles

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. PyTorch
3. NumPy

### Tables
Data Science Tools |
-- |
Hadoop |
Pandas |
GGplot

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
a = 3
b = 4
c = (a*b)+5
print (c)

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = 60
z = x/y
print (z)

3.3333333333333335